.cards {
  & h2 {
    font-size: $title-size;
    font-weight: 700;
    color: $color-black;
    margin: 75px 0;
    text-align: center;
  }

  &__item {
    border: 1px solid #e3e3e3;
    height: calc(100% - 20px);
    display: flex;
    flex-direction: column;
    position: relative;
    transition: all 0.3s ease;
  }

  & h3 {
    font-size: 1.8rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    height: 50px;
    padding: 0 20px;
    margin: 15px 0 15px 0;
  }

  &__img {
    margin: 0 auto;
    width: 60%;
    height: 165px;

    @media only screen and (max-width: 768px) {
      width: 30%;
    }

    @media only screen and (min-width: 768px) and (max-width: 992px) {
      width: 45%;
    }

    & img {
      width: 100%;
      vertical-align: middle;
    }
  }

  &__price {
    text-align: center;
    font-weight: 900;
    font-size: 2.8rem;
    font-family: Montserrat, sans-serif;
    color: #515461;
    margin-top: 30px;
    margin-bottom: 0;
  }

  &__paragraph {
    margin-top: 15px;
    text-align: center;
    height: 180px;
    font-size: 1.4rem;

    @media only screen and (max-width: 768px) {
      height: 120px;
      padding: 0 20px 0 20px;
      font-size: 1.8rem;
    }
  }

  &__text {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 15px;

    & .wrapper-counter {
      position: relative;
      margin: 0 auto;
      display: block;

      & .counter {
        display: block;
        margin: 0 auto;
        width: 100px;
        height: 30px;
        opacity: 0.8;
        border: 1px solid #e6e6e6;
        border-radius: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        line-height: 25px;

        & button {
          border: none;
          margin: 0 2px;
          font-weight: 700;
          font-size: 1.5rem;
          background-color: $color-white;
        }
      }

      &__sp {
        position: absolute;
        top: 6px;
        right: 18px;
        font-size: 1.2rem;
      }
    }
  }

  &__btn {
    border: 2px solid $color-bg;
    background: transparent;
    border-radius: 30px;
    width: 180px;
    height: 40px;
    display: block;
    margin: 20px auto;
    font-size: 16px;
    font-weight: 700;
    color: #6b6b6b;
    text-transform: uppercase;
    outline: none;
  }

  //===============STYLE=========================================
  &__item:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  }

  &__item:hover .cards__btn {
    background-color: $color-bg;
    color: $color-black;
  }
  &__item:hover h3 {
    font-weight: 900;
  }
}
