.form-section {
  display: block;
  width: 100%;
  background-image: url(../images/bg-beacons.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: 40px;

  &__img {
    position: absolute;
    top: -23px;
    right: 0;

    @media only screen and (max-width: 768px) {
      visibility: hidden;
    }

    & img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }

  &__title {
    color: $color-black;
    font-size: $title-size;
    font-weight: 700;
    line-height: 50px;
    text-align: center;
    margin: 30px 0;
  }

  &__step {
    font-size: 2.2rem;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    line-height: 50px;
  }

  &__text {
    font-size: 2.4rem;
    font-weight: 700;
    padding: 0 80px;

    @media only screen and (max-width: 768px) {
      padding: 0;
    }
  }
}

.form {
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 5;

  @media only screen and (max-width: 768px) {
    width: 100%;
  }

  & input {
    font-size: 2.4rem;
    font-weight: 700;
    color: $color-black;
    padding-left: 40px;
    width: 650px;
    display: block;
    height: 50px;
    border-radius: 30px;
    border: 2px solid $color-white;
    margin: 25px 0;
    background: url('../images/form-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    outline: none;

    @media only screen and (max-width: 768px) {
      width: 100%;
    }
  }

  & button {
    position: relative;
    outline: none;
    z-index: 3;
    display: block;
    width: 200px;
    height: 55px;
    background-color: $color-white;
    color: $color-bg;
    border-radius: 30px;
    font-size: 2.7rem;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
    margin: 30px auto;
    transition: all 0.3s ease;

    &:hover {
      transform: scale(1.1);
      box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
    }
  }
}

//================STYLE===============================
.active-step {
  width: 140px;
  height: 50px;
  border-radius: 30px;
  background-color: $color-white;
  box-shadow: 0 15px 30px #709f90;

  @media only screen and (max-width: 992px) {
    width: 120px;
  }
}

.step-container {
  overflow: hidden;
  display: flex;
  width: 650px;
}

.step {
  width: 650px;
  opacity: 0;
  transition: all 1s ease-out;
}

.step-visible {
  opacity: 1;
  transition: all 1s ease-out;
}

.step-hidden {
  opacity: 0;
  pointer-events: none;
  transition: all 1s ease-out;
}

.form__input-block {
  position: relative;
}

.form__message {
  position: absolute;
  width: 100%;
  background-color: grey;
  padding: 6px 6px 6px 40px;
  color: red;
  border: 1px solid $color-bg;
  border-radius: 50px;
  bottom: -30px;
  left: 0;
  z-index: 999;
  opacity: 0;

  &--visible {
    opacity: 1;
  }
}
