.header {
  width: 100%;
  display: block;
  background-image: url(../images/head-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  &__checkbox {
    display: none;
  }

  &__btn {
    display: none;
    width: 40px;
    text-align: center;
    cursor: pointer;
    z-index: 600;

    @media only screen and (max-width: 768px) {
      display: block;
      margin-top: 20px;
    }
  }

  &__icon {
    position: relative;
    margin-left: 1rem;
    margin-top: 2rem;

    &,
    &::before,
    &::after {
      width: 30px;
      height: 3px;
      background-color: white;
      display: inline-block;
      border-radius: 75px;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
      transition: all 0.4s;
    }

    &::before {
      top: -0.6rem;
      border-radius: 75px;
    }
    &::after {
      top: 0.6rem;
      border-radius: 75px;
    }

    @media only screen and (max-width: 576px) {
      margin-left: 1rem;
      margin-top: 0.6rem;
    }
  }

  &__menu {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin-top: 60px;
    position: relative;

    @media only screen and (max-width: 768px) {
      position: relative;
      margin: 20px 0;
      padding: 0;
      width: 100%;
      display: block;
      display: none;
    }

    &__item {
      margin-left: 70px;
      display: inline-block;

      @media only screen and (max-width: 768px) {
        display: block;
        margin: 40px 0;
        text-align: center;
      }
    }

    &__item a {
      text-transform: uppercase;
      font-size: 1.8rem;
      color: $color-white;
      text-decoration: none;
      position: relative;
    }
  }

  &__img {
    width: 100%;
    position: absolute;
    left: -3%;

    @media only screen and (max-width: 768px) {
      display: none;
    }

    & img {
      width: 100%;
      object-fit: cover;
    }
  }

  &__text {
    margin-top: 80px;
    margin-bottom: 100px;

    @media only screen and (min-width: 768px) and (max-width: 992px) {
      margin-top: 20px;
      margin-bottom: 20px;
    }

    & h1 {
      font-size: $title-size;
      font-weight: 900;
      text-transform: uppercase;
      color: $color-white;

      @media only screen and (min-width: 768px) and (max-width: 992px) {
        font-size: 2.8rem;
      }
    }

    & h4 {
      font-size: 2.2rem;
      font-weight: 900;
      color: $color-white;
      line-height: 1.5;

      @media only screen and (min-width: 768px) and (max-width: 992px) {
        font-size: 2rem;
      }
    }

    & p {
      font-size: 1.6rem;
      font-weight: 400;
      color: $color-white;
      line-height: 30px;

      @media only screen and (min-width: 768px) and (max-width: 992px) {
        line-height: 24px;
      }
    }
  }

  //===========STYLE============================================
  &__menu {
    &__item a:hover {
      padding: 15px 30px;
      background-color: $color-white;
      transition: all 0.3s ease;
      border-radius: 30px;
      position: relative;
      box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
      color: $color-bg;
    }
  }
  &__menu {
    &__item .active {
      background: $color-white;
      padding: 15px 30px;
      font-weight: 700;
      box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
      border-radius: 30px;
      color: $color-bg;
    }
  }

  //======FUNCTION================================

  &__checkbox:checked + .header__btn span {
    background-color: transparent;
  }

  &__checkbox:checked + .header__btn span::before {
    top: 0;
    transform: rotate(135deg);
    background-color: $color-white;
  }

  &__checkbox:checked + .header__btn span::after {
    top: 0;
    transform: rotate(-135deg);
    background-color: $color-white;
  }

  .show {
    display: block !important ;
  }
}
